@supports (color: color(display-p3 1 1 1)) {
  :root {
    --e-global-color-accent: oklch(64.71% 0.311 25.66);
  }
}

.section-alternate {

}

.text-span {
  
}

::selection {
  color: white;
  background-color: var(--e-global-color-accent);
  text-shadow: none;
}

/* Class: .section-padding */
.e-parent.section-padding {
    --padding-top: 3.75rem;
    --padding-right: 3.75rem;
    --padding-bottom: 3.75rem;
    --padding-left: 3.75rem;
}

@media (max-width: 1024px) {
    .e-parent.section-padding {
        --padding-top: 1.75rem;
        --padding-right: 1rem;
        --padding-bottom: 1.75rem;
        --padding-left: 1rem;
    }
}

/* Set color style to inherit */
.inherit-color * {
  color: inherit;
}
